<div class="footer mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to "Contact" %>
    <%= link_to "Customer Service help" %>
    <%= link_to "Partner help" %>
    <%= link_to "About us" %>
    <%= link_to "Careers" %>
  </div>
</div>
