<div class="container mt-3">
  <%= link_to rooms_path, class: "link-go-back" do %>
    <p><i class="ri-arrow-left-line"></i>Go back</p>
  <% end %>
</div>

<div class="container mt-5">

  <h1>Room <%= @room.name %> - <%= @room.hotel.name %></h1>
  <p class="grey"><%= @room.hotel.address %></p>
  <%= image_tag @room.picture, class: "picture-room mb-5" %>

  <div class="d-flex align-items-center">

    <div class="padding-right">
      <h2 class="font-size-25px mb-5">Room Features</h2>
      <%= @room.description %>
      <div class="grid-caract mt-4">
        <div>
          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-bed pe-2 fs-5" style="color: #ff914d;"></i>
            <p class="margin-none"><%= @room.bed %></p>
          </div>

          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-bath pe-2 fs-5" style="color: #ff914d;"></i>
            <p class="margin-none"><%= @room.bathroom %></p>
          </div>

          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-toilet-paper pe-2 fs-5" style="color: #ff914d;"></i>
            <p class="margin-none"><%= @room.towel %></p>
          </div>
        </div>

        <div>
          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-bell-concierge pe-2 fs-5" style="color: #ff914d;"></i>
            <p class="margin-none"><%= @room.service %></p>
          </div>

          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-wifi pe-2 fs-5" style="color: #ff914d;"></i>
            <p class="margin-none"><%= @room.wifi %></p>
          </div>

          <div class="d-flex align-items-center mt-4">
            <i class="fa-solid fa-tv pe-2 fs-5" style="color: #ff914d;"></i>
            <p class="margin-none"><%= @room.tv %></p>
          </div>
        </div>
      </div>
      <div class="border-b mt-5"></div>

    </div>

    <div class="card-resume-rent">
      <div class="card shadow-sm p-3 mb-5 bg-body" style="width: 450px; border-radius: 20px;">

      <%# J'ai essayé de faire un stimulus pour obtenir le prix total en ajax mais je n'ai pas réussi,
      j'ai quand même laissé le code, car j'aimerais revenir dessus %>

        <div data-controller="total" data-total-price-value="<%=@room.price_per_night %>"  class="card-body">
          <h2 class="mb-3" style="font-size: 25px;">Reservation</h2>

            <%= simple_form_for [@room, @booking] do |f| %>
              <%= f.input :starts_at,
                          label: 'Arrival',
                          as: :string,
                          input_html: {
                              data: {
                              controller: "datepicker",
                              target: "datepicker.startDate",
                              total_target: "bookingSartDate"
                              }
                          } %>
              <%= f.input :ends_at,
                          label: 'Departure',
                          as: :string,
                          input_html: {
                              data: {
                              total_target: "bookingEndDate",
                              action: "change->total#calculate"
                              }
                          } %>

                <div class="mt-4 d-flex justify-content-between">
                  <p class="font-weight-600">Number of nights</p>
                  <p data-total-target="night">0</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="font-weight-600">Price</p>
                  <p><%= @room.price_per_night %> €</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="font-weight-600">Total <%= @room.price_per_night%>€ x <span data-total-target="night">0 </span></p>
                  <p><span data-total-target="price">0</span> €</p>
                </div>

              <%= f.submit "Reserve", class: "button border-button-none", style: "width: 385px;"%>
            <% end %>
        </div>

      </div>
    </div>

  </div>

  <h3 class="font-size-25px mb-5"><%= @room.hotel.name %> also offers you these rooms</h3>
    <div class="card-rooms">
        <% @rooms_hotel.limit(4).each do |room| %>
          <%= link_to room_path(room) do %>
            <div class="card" style="width: 270px;">
              <%= image_tag room.picture, class: "card-img-top" %>
              <div class="card-body d-flex justify-content-between">
                <div>
                  <h2><%= room.name %></h2>
                  <p><%= room.hotel.name %></p>
                </div>
                <div>
                  <p><span class="price"><%= room.price_per_night %>€</span> /night</p>
                  <p>Capacity : <%= room.capacity %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>


</div>
